<h3><a href= "http://www.google.com">Sonya's Blog</a></h3>

<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSXbePmt8yLhvRoVbUuUuvml4leBrs-GUqFa3qt0zp4WrpHgqih">


<%= render 'form' %>

<%= link_to 'Back', articles_path %>